* {
    font-family: 'lato', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.container:nth-child(2) {
    margin-top: 70px;
}

section {
    margin: 70px 0;
}



.page-head {
    padding: 400px 0 110px;
}

.page-head-bg {
    background: url("../img/main-top-background.png");
    background-size: cover;
}

.page-head-title {
    text-transform: uppercase;
    font-size: 48px;
    color: #fff;
}

.page-head-subtitle {
    font-size: 18px;
    color: #fff;
}

.page-head-slogan {
    display: inline-block;
    font-size: 54px;
    color: white;
    text-transform: uppercase;
    padding: 30px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #FFFFFF;
    border-radius: 3px;
}

.text-block {
    text-align: center;
}

.text-block-title {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 35px;
}

.text-block-subtitle {
    font-size: 17px;
}

.text-block-highlight {
    width: 61px;
    border-top: 4px solid #F1AD1D;
    margin: 50px auto 0;
}


.yellow-text {
    color: #F1AD1D;
}

.mr30 {
    padding-right: 30px;
}

.nav-top-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
}

.nav-top {
    padding: 20px 0;
}

.nav-top-company {
    float: left;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    color: #f1b128;
}

.nav-top-menu {
    float: right;
    margin-top: 3px;
}

.nav-top-item {
    display: inline-block;
    margin-right: 65px;
}

.nav-top-item:last-of-type {
    margin-right: 0;
}

.nav-top-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #3d3d3d;
    position: relative;
}

.nav-top-link:hover {
    color: #f1b128;
    cursor: pointer;
}

.nav-top-link-dropdown::after{
    content: "";
    border: 4px solid transparent;
    border-top-color: inherit;
    position: absolute;
    top: 50%;
    right: -10px;
}

.reward {
    width: 270px;
}

.reward-img {
    width: 100%;
    margin: 0 auto;
}

.services-gallery {
    float: left;
    width: calc(100% / 2 - 15px);
}

.services-gallery-item {
    float: left;
    position: relative;
    width: calc(100% / 2 - 15px);
    margin-right: 30px;
    margin-bottom: 25px;
}

.services-gallery-item:nth-child(2n) {
    margin-right: 0;
}

.services-img {
    width: 100%;
}

.services-name {
    padding: 15px;
    background-color: #3d3d3d;
    color: white;
    width: 80px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 14px;
}

.services-description {
    float: right;
    width: calc(100% / 2 - 15px);
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
