.container{
    width: 1280px;
    margin: 0 auto;
}
.head-zone{
    margin-top: 30px;
}
.company-name{
    display: block;
    margin-bottom: 30px;
    font-size: 80px;
    color: #000000;
}
.blue{
    color: #4BCAFF;
}
.navbar{
    display: inline-block;
    width: 100%;
    background-color: #35444F;
    text-align: center;
}
.navbar-link{
    line-height: 3.25;
    padding: 25px 40px;
    font-size: 24px;
    color: #ffffff;
    border-left: 1px solid #000000;
}
.navbar-last-link{
    border-right: 1px solid #000000;
}
.page-content{
    padding: 40px 0;
}
.sidebar{
    display: inline-block;
    vertical-align: top;
    width: 345px;
    border: 1px solid #bfbfbf;
}
.sidebar-item{
    padding: 25px 40px;
}
.sidebar-link{
    font-size: 27px;
    color: #485863;
}
.main-content{
    display: inline-block;
    width: 888px;
    margin-left: 40px;
}
.main-image{
    padding: 75px 280px;
    border: 1px solid #bfbfbf;
}
.image-content{
    width: 100%;
}
.text-content{
    margin-top: 40px;
    font-size: 18px;
    line-height: 24px;
}
.footer-zone{
    box-sizing: border-box;
    padding: 25px 30px;
    background-color: #B4B7B9;
}
.footer-nav{
    display: inline-block;
}
.footer-nav-item{
    display: inline-block;
    margin: 0 15px;
}
.footer-nav-link{
    font-size: 28px;
    color: #0C1927;
}
.copyright{
    display: inline-block;
    font-size: 24px;
    color: #000000;
    margin-left: 90px;
}