*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.container{
	width: 1145px;
	margin: 0 auto;
}

.nav-bar{
	padding: 30px 0;
}

.menu{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}

.menu-item{
	margin: 0 29px;
}

.menu-link{
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2.7px;
	color: #16A085;
	text-decoration: none;
	text-transform: uppercase;
}

.about>.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-image{
	width: 100%;
}

.main-content{
	text-align: center;
	padding: 50px 0;
}

.main-title{
	font-size: 22px;
	line-height: 27px;
	letter-spacing: 3.3px;
	color: #373737;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.main-text{
	font-size: 16px;
	letter-spacing: 2.4px;
	line-height: 26px;
	color: #373737;
	margin: 20px 0;
}

.main-submit{
	padding: 20px 35px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 1.8px;
	background: #16A085;
	color: #ffffff;
}

.copyright{
	padding: 30px;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 2.4px;
	color: #373737;
}

.page-footer>.container{
	display: flex;
	justify-content: flex-end;
}