.page-bg {
    height: 100vh;
    overflow-y: scroll;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size:cover;
}
.head-zone {
    padding-top: 50px;
}

.container {
    width: 975px;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 150px;
}

.logo-image {
    float: left;
}

.milan {
    float: right;
    text-transform: uppercase;
    color: white;
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 5px;
}

.holidays {
    float: right;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.logo:hover .logo-image {
    content: url("../img/logo-orange.png");
}

.mail, .phone {
    display: inline-block;
    color: #ffffff;
}

.logo:hover .milan, .logo:hover .holidays,
.mail:hover, .phone:hover,
.gallery-item:hover .item-content {
    color: #F26522;
}

.contacts {
    float: right;
    text-align: right;
    line-height: 30px;
    color: white;
    font-size: 18px;
}

.gallery-item {
    display: inline-block;
    float: left;
    width: calc(100% / 3 - 30px);
    padding-bottom: 18px;
    margin: 20px 45px 0 0;
}

.gallery-item:nth-child(3n) {
    margin-right: 0;
}

.shopping-tours {
    background-image: url("../img/item-image-1.png");
}

.sightseeing-tours {
    background-image: url("../img/item-image-2.png");
}

.food-tours {
    background-image: url("../img/item-image-3.png");
}

.bars-and-nightlife {
    background-image: url("../img/item-image-4.png");
}

.art-and-architecture {
    background-image: url("../img/item-image-5.png");
}

.walking-tours {
    background-image: url("../img/item-image-6.png");
}

.item-options {
    background-size: contain;
    width: 300px;
    height: 220px;
}

.item-description {
    display: none;
}

.gallery-item:hover .item-description {
    display: inline-block;
    margin-top: 164px;
    background-color: #F26522;
    width: 100%;
}

.cost::before {
    content: "from";
    display: block;
    font-size: 10px;
    color: #ffffff;
    margin-bottom: 7px;

}

.cost {
    float: left;
    font-size: 20px;
    color: #ffffff;
    margin: 7px 0 12px 16px;
}

.more {
    float: right;
    font-size: 14px;
    color: #ffffff;
    margin-top: 30px;
    margin-right: 16px;
}

.more::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 1px solid #ffffff;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(-135deg);
    margin-left: 16px;
}

.image-size {
    width: 100%;
}

.item-content {
    font-size: 18px;
    text-align: center;
    color: white;
    margin-top: 12px;
}

.copyright{
    font-size: 12px;
    color: white;
    margin-top: 30px;
    padding: 18px;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}