
.background-image {
    background-image: url(../img/background-image.png);
    background-size: cover;
}

.nav-bar {
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 55px;
}

.container {
    margin-left: 80px;
    margin-right: 80px;
}

.nav-bar-logo {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
}

.nav-bar-logo:hover {
    color: #3CB878;
}

.nav-bar-links {
    float: right;
    padding-top: 20px;
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 25px;
}

.sprite:hover {
    background-image: url("../img/spritesheet-hover.png");
}

.sprite-date {
    width: 21px;
    height: 24px;
    background-position: -5px -5px;
}

.sprite-email {
    width: 23px;
    height: 23px;
    background-position: -36px -5px;
}

.sprite-map {
    width: 23px;
    height: 24px;
    background-position: -69px -5px;
}

.welcome::before {
    height: 20px;
    content: "";
    border-right: 0.5px solid white;
    margin-right: 25px;
}

.welcome {
    float: right;
    font-size: 14px;
    color: #ffffff;
    margin-top: 5px;
}

.autorization-links {
    color: #ffffff;
    text-decoration: none;
}

.autorization-links:hover {
    color: #3CB878;
}

.registration-form {
    position: relative;
    width: 444px;
    padding: 15px 0;
    margin: 0 auto;
    background-color: #ffffff;
}

.form-container {
    width: 330px;
    margin: 0 auto;
    padding: 15px 60px 0;
}

.green-cube {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 30px;
    left: 0;
}

.sign-up {
    font-size: 20px;
    float: left;
}

.log-in {
    font-size: 14px;
    color: #3CB878;
    float: right;
    text-decoration: none;
}

.log-in:hover {
    color: #3CB878;
    text-decoration: underline;
    cursor: pointer;
}

.network-button {
    width: 160px;
    height: 50px;
    border-radius: 4px;
}

.facebook {
    float: left;
    background-color: #294F9D;
}

.network-icon-facebook {
    float: left;
    background-image: url(../img/fb.png);
    background-repeat: no-repeat;
    width: 12px;
    height: 24px;
    margin: 10px;
}

.button-name {
    float: right;
    font-size: 16px;
    color: #ffffff;
    padding-top: 15px;
    padding-right: 22px;
}

.google {
    float: right;
    background-color: #C6422C;
}

.network-icon-google {
    float: left;
    background-image: url(../img/google.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 19px;
    margin: 12px;
}

.line-or {
    display: inline-block;
    width: 153px;
    border-top: 1px solid black;
    height: 3px;
}

.text-or {
    display: inline-block;
    font-size: 14px;
    margin: 30px 0 15px;
}

.input-text {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px;
    border-color: #F2F2F2;
    /*box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);*/
    padding: 15px 20px;
}

.input-text:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.agree-checkbox {
    display: none;
}

.checkbox-label::before {
    content: " ";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #FFF;
    border: 1px solid #F2F2F2;
    vertical-align: middle;
}

.checkbox-label {
    cursor: pointer;
    vertical-align: middle;
    padding: 10px 0;
    line-height: 30px;
    font-weight: normal;
}

.agree-checkbox:checked + .checkbox-label::before {
    background-image: url("../img/checkbox.png");
    background-repeat: no-repeat;
}

.agree-text {
    display: inline-block;
    padding-left: 10px;
    font-size: 14px;
}

.agree-document {
    color: #3CB878;
    text-decoration: none;
}

.agree-document:hover {
    text-decoration: underline;
}

.submit-form {
    width: 100%;
    background-color: #3CB878;
    font-size: 16px;
    color: #ffffff;
    padding: 15px 0;
    margin: 20px 0;
    border: 1px solid #3CB878;
    border-radius: 4px;
    
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}