.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo-img {
    width: 27px;
    height: 27px;
    margin: auto 27px;
}

.header-logo-name {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    width: 124px;
    text-align: center;
}

.nav-menu {
    display: flex;
    width: 661px;
    justify-content: space-between;
}

.nav-menu-item > a:hover {
    color: #14B9D5;
}

.nav-menu-item-text {
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
}

.header-search {
    width: 68px;
    height: 70px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-search-img {
    width: 17px;
    height: 17px;
}

.the-latest-news {
    background-image: url("../img/header-bg.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.the-latest-news-head {
    text-transform: uppercase;
    width: 100%;
    margin: 165px auto 45px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 27px;
}

.buttons {
    width: 360px;
    margin: 0 auto 75px;
    display: flex;
}

.button {
    border: none;
    border-radius: 6px;
    width: 170px;
    height: 55px;
    margin: 0 10px;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
}

.green-button {
    background-color: #89CA62;
}

.blue-button {
    background-color: #14B9D5;
}

.grey-color {
    background-color: #F2F2F2;
}

.flex {
    display: flex;
    height: 900px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

.posts-items {
    max-width: 370px;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.item-img {
    width: 100%;
}

.item-label {
    color: #353A3D;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.head-section-label {
    font-size: 27px;
    font-weight: bold;
    color: #18B4CF;
    text-align: center;
    text-transform: uppercase;
    padding: 52px;
}

.popular-clients {
    background-image: url("../img/popular-clients.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.popular-clients-font {
    width: 100%;
    padding: 108px 0 87px;
    text-transform: uppercase;
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
.blue-line {
    width: 60px;
    border-bottom: 3px solid #18B4CF;
    margin: 0 auto;
}
.brands {
    width: 900px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
    padding:105px 0 185px;
}

.top-rated-images {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.top-rated-img {
    width: 100%;
}

.hot-news-posts {
    display: grid;
    grid-template-rows: 259px 416px 416px 259px;
    grid-template-areas:
        "post11 post11 post11 post12"
        "post21 post21 post22 post22"
        "post31 post31 post32 post32"
        "post41 post42 post42 post42";
    grid-gap: 45px 60px;
}

.post-label {
    font-size: 18px;
    font-weight: bold;
    color: #353A3D;
    padding: 15px;
}

.post-description {
    line-height: 21px;
    font-size: 14px;
    font-weight: 600;
    color: #5B6469;
    padding: 0 15px;
}

.post-1-1 {
    grid-area: post11;
}

.post-1-2 {
    grid-area: post12;
}

.post-2-1 {
    grid-area: post21;
}

.post-2-2 {
    grid-area: post22;
}

.post-3-1 {
    grid-area: post31;
}

.post-3-2 {
    grid-area: post32;
}

.post-4-1 {
    grid-area: post41;
}

.post-4-2 {
    grid-area: post42;
}



.post-1-1, .post-4-2 {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 259px;
    grid-template-columns: 483px auto;
}

.post-1-2, .post-4-1 {
    display: grid;
    align-content: space-between;
}

.post-1-2 > p, .post-4-1 > p {
    text-align: center;
}

.posts {
    background-color: #F9F7F7;
    align-items: center;
    height: 259px;
}
.post-img {
    width: 100%;
}
.post-text {
    text-align: right;
    background-color: #F9F7F7;
}

.hot-news {
    margin-bottom: 60px;
}

.footer {
    background-color: #000000;
}

.footer-copyright {
    color: #fff;
    font-size: 13px;
    align-self: center;
}

.logo {
    align-self: center;
    display: grid;
    grid-auto-flow: column;
}

.footer-text {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 80px;
    grid-template-columns: 1fr 102px;
}