.container {
    width: 1192px;
    margin: 0 auto;
}

.pricing-table {
    border: 22px solid #3A4965;
    
}

.choose-your {
    width: 287px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: bottom;
}

.standart {
    background-color: #89C331;
    color: white;
    height: 72px;
    width: 287px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
}

.ultimate {
    background-color: #F04A56;
    color: white;
    height: 72px;
    width: 287px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
}

.premium {
    background-color: #20807C;
    color: white;
    height: 72px;
    width: 287px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
}

.heading-cell {
    height: 90px;
}

.pricing-plan {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: top;
}

.heading-mini {
    width: 145px;
    vertical-align: middle;
    height: 100px;
    font-size: 60px;
    font-weight: bold;
    text-align: right;
}

.heading-mini-sup {
    height: 33px;
    font-size: 24px;
    font-weight: bold;
    vertical-align: bottom;
    text-align: left;
}

.heading-mini-sub {
    font-size: 18px;
    text-transform: uppercase;
}

.table-cells {
    height: 72px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}

.storage-icon, .bandwidth-icon, .email-icon, 
.support-icon, .products-icon, .users-icon {
    display: inline-block;
    padding: 0 5px;
}

.storage-icon {
    width: 24px; 
    height: 21px;
    background: url("../img/css_sprites.png") -97px -10px;
}

.bandwidth-icon {
    width: 27px;
    height: 19px;
    background: url("../img/css_sprites.png") -232px -10px;
}

.email-icon {
    width: 24px;
    height: 20px;
    background: url("../img/css_sprites.png") -53px -10px;
}

.support-icon {
    width: 25px;
    height: 25px;
    background: url("../img/css_sprites.png") -141px -10px;
}

.products-icon {
    width: 23px;
    height: 23px;
    background: url("../img/css_sprites.png") -10px -10px;
}

.users-icon {
    width: 26px;
    height: 25px;
    background: url("../img/css_sprites.png") -186px -10px;
}

.table-body-tr:nth-child(odd) {
    background-color: #F2F2F2;
}

.table-body-tr:nth-child(even) {
    background-color: #E3E3E3;
}

.table-footer-cells {
    height: 110px;
    vertical-align: middle;
    text-align: center;
}

.footer-buttons {
    display: inline-block;
    width: 195px;
    height: 43px;
}

.footer-cells-label {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 20px;
    color: white;
}

.black-button {
    background-color: #484848;
    border-bottom: 9px solid #404040;
}

.green-button {
    background-color: #89C331;
    border-bottom: 9px solid #79B027;
}

.red-button {
    background-color: #F04A56;
    border-bottom: 9px solid #DF3A46;
}

.dark-green-button {
    background-color: #20807C;
    border-bottom: 9px solid #16736F;
}

.black-button, .green-button, .red-button, 
.dark-green-button {
    border-radius: 6px;
}

.black-button:hover, .green-button:hover, 
.red-button:hover, .dark-green-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.3);
}

.border-left {
    border-left: 2px solid #C7C7C7;
}

.contact-us-cell {
    background-color: #E3E3E3;
}

